<div class="container">
  <div class="row">
    <span [class.is-online]= "(presence.onlineUsers$ | async).includes(member.username)">
      <i
        class="fa fa-user mr-2"
        routerLink="/members/{{ member.username }}"
        [queryParams]="{ tab: 1 }"
      ></i>
    </span>
    <div class="col-sm">{{ member.knownAs }}</div>
    <div class="col-sm">{{ member.country }}</div>
    <div class="col-sm">{{ member.created | date: "dd MMM yyyy hh:mm" }}</div>
    <div class="col-sm">{{ member.lastActive | date: "dd MMM yyyy" }}</div>
  </div>
</div>
<hr />
