<div class="row">
    <div class="col-4">
        <div class="card">
            <!-- <pipe is used here to use icon if there's no profile photo > -->
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2" *ngIf="(presence.onlineUsers$ | async).includes(member.username)" >
                    <i class="fa fa-user-circle text-success"></i> Online now
                </div>
                <div>
                    <strong>Country:</strong>
                    <p>{{member.country}}</p>
                </div>
                <div>
                    <strong>City:</strong>
                    <p>{{member.city}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member.created | date: 'dd MMM yyyy'}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">

                    <button (click)="selectTab(3)" class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='About {{member.knownAs}}' (selectTab)="onTabActivated($event)">
                <h4>Profile</h4>
                <p>{{member.city}}</p>
                <h4>Health </h4>
                <p>{{member.lookingFor}}</p>
            </tab>
            <tab heading='Messages' (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>
