 
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">Active list doctor</p>
</div> 
      <div class="card-deck mb-3">

        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm"><img class="img-fluid card-img-top" src="https://firebasestorage.googleapis.com/v0/b/insig-ca.appspot.com/o/user%2Fdecompressed%2Fn3KrKxi9FTgp4e6DsFe6DdhhWHn1%2Fn3KrKxi9FTgp4e6DsFe6DdhhWHn1.jpg?alt=media&token=e2d0f612-9ead-4650-90a5-6df40bcfff9b" alt="" >
            <div class="p-4">
              <h5 class="text-dark">Dr. Mostafa Zaazou</h5>
              <h6 class="text-dark">Ottawa, ON</h6>
              <p class="text-muted">English</p>
              <p class="small text-muted mb-0">MB.BCh, DCH,CABP, MRCP(UK), FRCP(C), FAAP, Paediatrician</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-calendar mr-2"></i><span class="font-weight-bold">Set </span></p>
                <div class="badge badge-danger px-3 font-weight-normal">2</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm">
            <img class="img-fluid card-img-top"src="https://firebasestorage.googleapis.com/v0/b/insig-ca.appspot.com/o/user%2Fdecompressed%2FHE2owAjXkGcwFCBO07iV1Fnn02l2%2FHE2owAjXkGcwFCBO07iV1Fnn02l2.jpg?alt=media&token=03c35da6-14bc-4ae5-a4dc-cf4148b41529" alt="Card image cap" alt="" >
            <div class="p-4">
              <h5 class="text-dark">Dr. Abishek Tuli</h5>
              <h6 class="text-dark">Ottawa, ON</h6>
              <p class="text-muted">English</p>
              <p class="small text-muted mb-0"> HBSc, MD, CPSO Patients over 16</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-calendar mr-2"></i><span class="font-weight-bold">Set </span></p>
                <div class="badge badge-danger px-3 font-weight-normal">2</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm">
            <img class="img-fluid card-img-top"src="https://firebasestorage.googleapis.com/v0/b/insig-ca.appspot.com/o/public%2FDr.AshleyQaderiPic%2FsL6ftulXUGaQNcaX3qIiOFq3QhJ3.jpg?alt=media&token=e8a8004e-a3c6-4e61-9dcb-a4be2ba9d307" alt="Card image cap" alt="" >
            <div class="p-4">
              <h5 class="text-dark">Dr. Ashley Qaderi</h5>
              <h6 class="text-dark">Burlington, ON</h6>
              <p class="text-muted">English, Punjabi</p>
              <p class="small text-muted mb-0"> MD, CCFP</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-calendar mr-2"></i><span class="font-weight-bold">Set </span></p>
                <div class="badge badge-danger font-weight-normal">3</div>
                <div class="badge badge-success font-weight-normal">3</div>
                <div class="badge badge-success font-weight-normal">3</div>
                <div class="badge badge-success font-weight-normal">3</div>
                <div class="badge badge-success font-weight-normal">3</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm">
            <img class="img-fluid card-img-top"src="https://firebasestorage.googleapis.com/v0/b/insig-ca.appspot.com/o/user%2Fdecompressed%2FEB9g8q3vJNOtNM6zzaDVaNg4Atx2%2FEB9g8q3vJNOtNM6zzaDVaNg4Atx2jpeg?alt=media&token=5ca73ebd-786b-4832-99b7-b35fff90e718" alt="Card image cap" alt="" >
            <div class="p-4">
              <h5 class="text-dark">Dr. Danial Schecter</h5>
              <h6 class="text-dark">Toronto, ON</h6>
              <p class="text-muted">English, French</p>
              <p class="small text-muted mb-0"> Family physician. Expert in medical cannabis. 
              </p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-calendar mr-2"></i><span class="font-weight-bold">Set </span></p>
                <div class="badge badge-danger px-3  font-weight-normal">4</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm">
            <img class="img-fluid card-img-top"src="https://firebasestorage.googleapis.com/v0/b/insig-56ba8.appspot.com/o/public%2Fzalzal%2FNBlDyftUshNQVjOPx7ahUvZizg72.jpg?alt=media&token=dc05aa24-c063-44fe-bc52-8e8e138dd205" alt="Card image cap" alt="" >
            <div class="p-4">
              <h5 class="text-dark">Red paint cup</h5>
              <p class="small text-muted mb-0">  Dr. Paul Zalzal
                Specializing in Adult Reconstruction, total hip and knee replacement and osteotomy. </p>
                <h6 class="text-dark">Oakville, ON</h6>
                <p class="text-muted">English, French</p>
                <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-calendar mr-2"></i><span class="font-weight-bold">Set </span></p>
                <div class="badge badge-success px-3 font-weight-normal">3</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
          <div class="bg-white rounded shadow-sm">
            <img class="img-fluid card-img-top"src="https://firebasestorage.googleapis.com/v0/b/insig-56ba8.appspot.com/o/user%2Fdecompressed%2Fcvx8hxSQjjRYeE8qOx729Cf4Raq2%2Fcvx8hxSQjjRYeE8qOx729Cf4Raq2.jpg?alt=media&token=6877aad6-2b06-481d-af70-96c128e6f214" alt="Card image cap" alt="" >
            <div class="p-4">
              <h5 class="text-dark"> Dr. Vincenzo Stendardo</h5>
                 <h6 class="text-dark">Toronto, ON</h6>
                 <p class="text-muted">English</p>
              <p class="small text-muted mb-0">M.D. Family Doctor</p>
              <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
                <p class="small mb-0"><i class="fa fa-calendar mr-2"></i><span class="font-weight-bold">Set </span></p>
                <div class="badge badge-danger px-3 font-weight-normal">0</div>
              </div>
            </div>
          </div>
        </div>
 
    </div>

  