<div class="text-center mt-3">
    <h4>Active Users: {{pagination?.totalItems}}</h4>
    <div>{{userParams | json}}</div>
</div>

<!-- 160 add form to filter age-->
<div class="container my-5">
    <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
        
<!-- 
        <div class="form-group">
            <label>Category </label>
            <input type="number" class="form-control ml-1" style="width: 130px;" name="minAge" 
                [(ngModel)]="userParams.minAge">
        </div>

        <div class="form-group px-2">
            <label>Subcategory </label>
            <input type="number" class="form-control ml-1" style="width: 130px;" name="maxAge" 
                [(ngModel)]="userParams.maxAge">
        </div>

    -->

        <div class="form-group px-2">
            <label>Type: </label>
            <select name="gender" style="width: 180px" [(ngModel)]="userParams.role" class="form-control ml-1">
                <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
            </select>
        </div>



        <div class="form-group px-2">
            <label>Symptoms: </label>
            <select name="gender" style="width: 180px" [(ngModel)]="userParams.gender" class="form-control ml-1">
                <option *ngFor="let gender of symptomsList" [value]="gender.value">
                    {{gender.display}}
                </option>
            </select>
        </div>

        <div class="form-group px-2">
            <label>City: </label>
            <select name="gender" style="width: 180px" [(ngModel)]="userParams.city" class="form-control ml-1">
                <option *ngFor="let city of cityList" [value]="city.value">
                    {{city.display}}
                </option>
            </select>
        </div>

        <button class="btn btn-primary ml-1" type="submit">Apply</button>
        <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset</button>
        <div class="col">
            <div class="btn-group float-right">
                <button 
                    type="button"
                    class="btn btn-primary" 
                    name='orderBy' 
                    (click)="loadMembers()"
                    btnRadio='lastActive'
                    [(ngModel)]="userParams.orderBy">Date</button>
    
                <button 
                    type="button"
                    class="btn btn-primary" 
                    name='orderBy' 
                    (click)="loadMembers()"
                    btnRadio='created'
                    [(ngModel)]="userParams.orderBy">New</button>
            </div>
        </div>
        

    </form>
</div>

<div class="container">
  <div *ngFor="let member of members">
        <app-member-card [member]="member"></app-member-card>
</div>
</div>

<!-- *Ngif show just if there is a pagination header stored inside component-->
<!--[(ngModel)]="pagination.currentPage" to receive current page and update it-->
<!--(pageChanged)="pageChanged($event)" to pass through the event-->

 <div class="d-flex justify-content-center" *ngIf="pagination"> 
    <pagination
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"  
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;" 
        nextText="&rsaquo;" 
        firstText="&laquo;" 
        lastText="&raquo;">
    </pagination>

</div>